
      html, body, div, span, applet, object, iframe,
      h1, h2, h3, h4, h5, h6, p, blockquote, pre,
      a, abbr, acronym, address, big, cite, code,
      del, dfn, em, img, ins, kbd, q, s, samp,
      small, strike, strong, sub, sup, tt, var,
      b, u, i, center,
      dl, dt, dd, ol, ul, li,
      fieldset, form, label, legend,
      table, caption, tbody, tfoot, thead, tr, th, td,
      article, aside, canvas, details, embed,
      figure, figcaption, footer, header, hgroup,
      menu, nav, output, ruby, section, summary,
      time, mark, audio, video {
      	margin: 0;
      	padding: 0;
      	border: 0;
      	font-size: 100%;
      	font: inherit;
      	vertical-align: baseline;
      }

      article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
      	display: block;
      }
      body {
      	line-height: 1;
      }
      ol, ul {
      	list-style: none;
      }
      blockquote, q {
      	quotes: none;
      }
      blockquote:before, blockquote:after,
      q:before, q:after {
      	content: '';
      	content: none;
      }
      table {
      	border-collapse: collapse;
      	border-spacing: 0;
      }



      #intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 92vh;
        width: 100%;
        background-color: #1E4675;
      }

      #intro-title {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        height: 50%;
        width: 100%
      }

      #title {
        font-size: 4em;
        color: white;
        font-family: Helvetica;
        width: 100%;
      }

      #description {
        margin-top: 1em;
        padding-bottom: 1em;
        font-size: 1.5em;
        color: white;
        font-family: Helvetica;
        font-style: italic;
        border-bottom: solid white;
        width: 85%;
      }

      #resume {
        width: 85%;
        margin-top: 1.2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }
      #author {
        font-size: 1em;
        color: white;
        font-family: Helvetica;
        width: 50%;
      }

      #link-container {
        font-size: 1em;
        color: white;
        font-family: Helvetica;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
      }

      #link-container a {
        color: white;
        margin-left: 1.5em;
      }

      #link-container span {
        font-size: 1.1em;
      }



      #start-button {
        width: 15vw;
        height: 8vh;
        background-color: white;
        background-color: #F55526;
        padding: 0;
        border: none;
        outline: none;
        font-size: 1em;
        color: white;
        cursor: pointer;
        margin-top: 3em;
        margin-right: 2em;
      }


      #tag-line {
        font-family: Helvetica;
        font-size: 2em;
        color: white;
        align-self: center;
        font-style: italic;
      }

      .box2 {
        height: 400px;
        width: 100%;
      }
      /* THIS MAKES THE SPACING JITTERY BETWEEN first and second */
      /* .scrollmagic-pin-spacer {
        padding: 0px !important;
      } */

      .pin-container {
        display: flex;
        flex-direction: row;
      }

      #infoModal {

        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;
         position: absolute;
         z-index: 1;
         background: white;
         min-width: 4em;
         max-width: 7em;
         height: auto;
         color: white;
         font-size: 1em;
         border-radius: 5px;
         border: solid white;
         border-width: 1px;
         background-color:  #1E4675;
         font-family: Helvetica;
         opacity: 0;
         display: none;
         padding: .5em;
      }


      #header {
        display: flex;
        flex-direction: row;
        background-color: black;
        top:0;
        height: 8vh;
        width: 100%;

        z-index: 1;
      }

      #logo {
        height: 100%;
        width: 15%;
        background-color: #F55526;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #logo p {
        color: white;
        font-family: Helvetica;
        font-style: italic;
        border: none;
        outline: none;
        font-size: 1.4em;
        font-weight: bold;
      }

      #nav {
        height: 100%;
        width: 85%;
        display: flex;
        flex-direction: row;
        /* justify-content: space-around; */
        align-items: center;
      }

      .link {
        width: 30%;
        height: 100%;
        background-color: white;
        border: none;
        outline: none;
        font-size: 1em;
        cursor: pointer;
        font-weight: bold;
      }
      .highlight-link {
        background-color: orange;
        color: white;
      }

      .stop-scrolling {
        height: 100%;
        overflow: hidden;
      }

      #map{
        width: 65%;
        height: 92vh;
      }
      #pin2 {
        width: 35%;


      }

      .section {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: column;
        background-color: #1E4675;
        height: 100vh;
      }
      .thirtysecond {
        display: flex;
        align-items: center;
        justify-content: left;
        flex-direction: column;
        background-color: #1E4675;
        height: 100vh;
      }

      .section-title {
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: left;
      }
      .title-text {
        font-size: 4em;
        color: white;
        font-family: Helvetica;
        padding-top: 2em;
      }

      .section-explanation {
        height: 50%;
        width: 100%;
        padding-top: 2em;
        display: flex;
        align-items: center;
        justify-content: left;
      }

      .explanation-text {
        height: 100%;
        width: 100%;
        margin-right: 4em;
        padding-top: 2em;
        margin-top: 2em;
        color: white;
        font-size: .9em;
        font-family: Helvetica;
        line-height: 1.4;
        border-top: solid;
        font-style: italic;
      }


      #buffer {
        height: 50vh;
      }


      /* disable scroll bar but only for chrome */
      ::-webkit-scrollbar {
          display: none;
      }
